* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background: #202124;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    height: 115px;

}

form>input {
    width: 500px;
    padding: 20px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 17px;
    background-color: #444746;
}

form>input:hover {
    background-color: #525655;
}

form>button {
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #444746;
    border: 1.5px solid #444746;
    color: white;
    font-size: 15px;
    font-weight: lighter;

}

form>button:hover {
    border: 1px solid #5f6368;
}

.corner {
    position: absolute;
    top: 20px;
    right: 100px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.corner:hover {
    text-decoration: underline;
}

.corner-left {
    position: absolute;
    top: 20px;
    left: 100px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.corner-left:hover {
    text-decoration: underline;
}

/* IMAGES */

.google {
    position: relative;
}

.img {
    position: absolute;
    bottom: 25px;
    right: 0;
    color: #4487f6;
}

.back {
    position: absolute;
    top: 20px;
    left: 50px;
    text-decoration: none;
    font-size: 50px;
    color: white;

}

/* Advance search */